

<br><br><br>


<div class="container">
    <p class="h2 d-flex justify-content-center">Upload Contact</p>
<div class="row">

  <div class="col-lg-8 col-lg-offset-2">

    
     
    <form id="contact-form" #clientForm="ngForm" (ngSubmit)="createContact(); clientForm.reset()" role="form">

    <div class="messages"></div>

    <div class="controls">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="form_name">Name *</label>
            <input id="form_name" type="text" [(ngModel)]="arrayMember.name"  #name="ngModel" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="form_email">Email *</label>
            <input id="form_email" type="email" [(ngModel)]="arrayMember.email"  #email="ngModel" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="form_phone">Phone</label>
            <input id="form_phone" type="tel"  [(ngModel)]="arrayMember.phone"  #phone="ngModel" name="phone"  class="form-control" placeholder="Please enter your phone">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
         
        <div class="col-md-12">
          <input type="submit" class="btn btn-success btn-send" value="Upload Contact">
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted"><strong>*</strong> These fields are required.</p>
        </div>
      </div>
    </div>

    </form>

  </div>

</div>

</div>