<br><br><br>

<div class="container">
        <p class="h2 d-flex justify-content-center">Testing Phone Number</p>

        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Information</th>  
                    <th scope="col">Click to Call</th>
                  </tr>
                </thead>
                <tbody> 
                        <tr >
                          <th scope="row">{{member.idcontacts}}</th>
                          <td>{{member.name}}</td>
                          <td>
                              Email: {{member.email}}<br>
                              Phone: {{member.phone}}<br> 
                          </td>
                           
                           
                          <td><button (click)="testingCall(member.phone)" class="btn btn-success btn-send"> <i class="fas fa-phone"></i></button></td>
                        </tr>
                         
                </tbody>
        </table>
        
 
    <div class="row">
    
      <div class="col-lg-8 col-lg-offset-2"></div></div></div>


<mat-card style="margin:2%; background-color:rgb(243, 243, 243)"> 
    
</mat-card>
